* 
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('./bg_carte.png');
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3em;
}
.container h1 {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin: 50px;
}