* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../img/bg_carte.png');
}

.container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .content img,
.container .content video {
    max-height: 400px;
}

.container .content p {
    font-size: 1.3em;
    width: 600px;
    text-align: justify;
}
.container .content input {
    background: #62B233;
    border: 0px solid #fff;
}