header {
    width: 100%;
    background: #398c42;
}


.white {
    /*Pour que le lien ne soit plus "souligné"...*/
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    background: #001D36;
    /* position: absolute; */
    bottom: 0;
    padding-top: 50px;
    height: 50px;
}