header {
    width: 100%;
    background: #398c42;
}

.footer {
    width: 100%;
    background: #001D36;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer i {
    font-size: 3em;
    color: #fff;
    margin: 10px;
}

.footer i:hover {
    cursor: pointer;
}