* {
    margin: 0;
    padding: 0;

}

body {

    background-image: linear-gradient(60deg,rgba(124,252,0,1),  rgba(0,59,54,1));
}



.main {
    min-height: 1200px;
    width: 1054px;
    margin: 0 auto;
}

.header {
    grid-area: header;
}

.main {
    display: grid;
    grid-template-columns: 200px 450px 312px 200px;
    grid-template-rows: 220px 300px 450px 100px;
    grid-template-areas:
        "header header header header"
        ". form form ."
        ". output output ."
 ;
        justify-items: center;
}

.card-flex {
    justify-content: space-around;
}
