<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/auteur.css">
    <title>Drona</title>
    <link rel="stylesheet" href="../assets/css/auteur.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/css/logo.png">

                </a>
                <div class="d-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <!-- Accueil -->
                            <li class="nav-item">
                                <div class="d-flex justify-content-center">
                                    <a class="nav-link active" aria-current="page" href="index.html">Accueil</a>
                                </div>
                            </li>

                            <!-- Nos drones -->
                            <li class="nav-item">
                                <div class="d-flex justify-content-center">
                                    <a class="nav-link active" aria-current="page" href="drone.html">Voir nos drones</a>
                                </div>
                            </li>

                            <!-- A propos -->
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="auteur.html">A propos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="about">
        <h1>Drona</h1>
        <p>Drona est une entreprise spécialisé dans le transport autonome aéroporté de fourniture de tout type , courte
            à moyenne portée.Elle intervient à l’échèlle d'une ville entre le centre de dépôt de colis et le client. Son
            objectif est de fournir un service de livraison plus rapide que les moyens conventionnels. A partir d'une
            technologie déjà existante mais optimisée et améliorée , le service de livraison permettra de satisfaire
            tout types de situation. Que ce soit de la demande d'un particulier irrité par les délais de livraisons, ou
            l'urgence d'une entreprise cherchant à remplacer une pièce manquante, nos drones fourniront le service le
            plus rapide à ce jour.
        </p>
    </div>
    <hr>
    <h1 style="text-align: center; margin-bottom: 50px;">Notre équipe</h1>
    <div class="ourTeam">
        <div class="ourTeamCard">
            <h2>Prescila Messerschmidt</h2>
            <p>Animation 3D</p>
            <img src="../assets/img/avatars/prescila.png" alt="prescila">
        </div>
        <div class="ourTeamCard">
            <h2>Nans Boyer</h2>
            <p>AudioVisuel</p>
            <img src="../assets/img/avatars/nans.png" alt="nans">
        </div>
        <div class="ourTeamCard">
            <h2>Charles Fournales</h2>
            <p>AudioVisuel</p>
            <img src="../assets/img/avatars/charles.png" alt="charles">
        </div>
        <div class="ourTeamCard">
            <h2>Morgan Jamain</h2>
            <p>Animation 3D</p>
            <img src="../assets/img/avatars/morgan.png" alt="morgan">
        </div>
        <div class="ourTeamCard">
            <h2>Elora Heilly</h2>
            <p>Animation 3D</p>
            <img src="../assets/img/avatars/elora.png" alt="elora">
        </div>
        <div class="ourTeamCard">
            <h2>Charline Portal</h2>
            <p>Création Design</p>
            <img src="../assets/img/avatars/charline.png" alt="charline">
        </div>
        <div class="ourTeamCard">
            <h2>Aimé Polelei</h2>
            <p>Création Design</p>
            <img src="../assets/img/avatars/aimé.png" alt="aimé">
        </div>
        <div class="ourTeamCard">
            <h2>Lina Rodes</h2>
            <p>Market' Com</p>
            <img src="../assets/img/avatars/lina.png" alt="lina">
        </div>
        <div class="ourTeamCard">
            <h2>Florian Lejosne</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/florian.png" alt="florian">
        </div>
        <div class="ourTeamCard">
            <h2>Nicolas Guitay</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/nicolas.png" alt="nicolas">
        </div>
        <div class="ourTeamCard">
            <h2>William Dubois</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/william.png" alt="william">
        </div>
        <div class="ourTeamCard">
            <h2>Loup Bruneau</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/loup.png" alt="loup">
        </div>
        <div class="ourTeamCard">
            <h2>Sylvain Lespagnol</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/sylvain.png" alt="sylvain">
        </div>
        <div class="ourTeamCard">
            <h2>Alexandre Vernet</h2>
            <p>Informatique</p>
            <img src="../assets/img/avatars/alexandre.png" alt="alexandre">
        </div>
    </div>




    <div class="footer">
        <div class="social">
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>

</body>

</html>