<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drona - Nos drones</title>
    <link rel="stylesheet" href="../assets/css/drone.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/img/logo.png">

                </a>
                <div class="d-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <!-- Accueil -->
                            <li class="nav-item">
                                <div class="d-flex justify-content-center">
                                    <a class="nav-link active" style="color: white;" aria-current="page"
                                        href="index.html">Accueil</a>
                                </div>
                            </li>

                            <!-- Nos drones -->
                            <li class="nav-item">
                                <div class="d-flex justify-content-center">
                                    <a class="nav-link active" style="color: white;" aria-current="page"
                                        href="drone.html">Voir nos drones</a>
                                </div>
                            </li>

                            <!-- A propos -->
                            <li class="nav-item">
                                <a class="nav-link active" style="color: white;" aria-current="page"
                                    href="auteur.html">A propos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="listCard">
            <a href="./joe.html">
                <div class="card">
                    <h2>Joe</h2>
                    <p>prix</p>
                    <img src="../assets/img/drones/joe.png" alt="joe">
                    <p>Petite description</p>
                </div>
            </a>
            <a href="william.html">
                <div class="card">
                    <h2>William</h2>
                    <p>prix</p>
                    <img src="../assets/img/drones/william.png" alt="william">
                    <p>Petite description</p>
                </div>
            </a>
            <a href="averell.html">
                <div class="card">
                    <h2>Averell</h2>
                    <p>prix</p>
                    <img src="../assets/img/drones/averell.png" alt="averell">
                    <p>Petite description</p>
                </div>
            </a>
        </div>
    </div>

    <div class="footer">
        <div class="social">
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>

</body>

</html>